<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Intro title</th>
      <th>Intro copy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.intro_title %></td>
        <td><%= team.intro_copy %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Title</th>
      <th>Bio</th>
      <th>Linkedin</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= image_tag employee.employee_image.to_s %></td>
        <td><%= employee.name %></td>
        <td><%= employee.title %></td>
        <td><%= employee.bio %></td>
        <td><%= employee.linkedin %></td>
        <td><%= employee.twitter %></td>
        <td><%= employee.facebook %></td>
      </tr>
    <% end %>
  </tbody>
</table>