- image = @main.hero_image_url
.strata-mini.large-hero.fixed-image{style: "background-image: url(#{image});"}
  = render 'layouts/header'
  
.strata-small
  .row.p-top-30
    .small-12.columns
      %h3.c-blue= @team.intro_title
  .row
    .small-12.large-9.columns
      %p.p-top-5= @team.intro_copy
- employees = Employee.all
- employees.each do |employee|
  .strata-small.strata-striped
    .row.p-20
      .small-12.medium-3.columns
        = image_tag employee.employee_image.profile, class: "w-100 b-light-gray"
      .small-12.medium-9.columns
        .row
          .small-8.columns
            %h5
              .c-drk-gray.d-inline-block= employee.name + ","
              = employee.title
          .small-4.columns
            - if employee.linkedin.present?
              %h5
                %a.f-right.m-left-10{href: "http://" + employee.linkedin, target: "_blank", "data-icon" => "i"}
            - if employee.twitter.present?
              %h5
                %a.f-right{href: "http://" + employee.twitter, target: "_blank", "data-icon" => "h"}
        .row
          .small-12.columns
            %p.p-top-10= employee.bio_intro
            %div.bio-hide
              %p.full-bio.m-0= raw employee.bio
            - if employee.bio.present?
              %a.bio-toggle
                %span.btn-text
                %span.p-left-5
                  %small.btn-icon{"data-icon" => ""}


