- image = @practicearea.hero_image_url(:thumb)
#top
.large-hero.fixed-image{style: "background-image: url(#{image});"}
  = render 'layouts/header'
  .hero
    .row
      .small-12.medium-10.medium-offset-1.columns.ta-center
        %h1.hero-font
          = @practicearea.hero_title
        %p.p-top-15.c-white.p-bottom-80
          = @practicearea.hero_copy
= link_to "#top" do
  .back-to-top
    %h6.c-white.m-right-20 
      %span.m-right-5.h5-icon{"data-icon" => "i"}
      Back To Top
.strata-small.bgc-lghter-gray.b-bottom-light-gray.w-100.p-relative{"data-magellan-expedition" => "fixed"}
  .row
    .small-12.medium-9.columns
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "pm"}
        %a= @practicearea.pa1_title
      %h6.d-inline-block.p-left-5.c-lght-gray.lh-btn-m.m-bottom-0 &#124;
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "mc"}
        %a= @practicearea.pa2_title
      %h6.d-inline-block.p-left-5.c-lght-gray.lh-btn-m.m-bottom-0 &#124;
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "bi"}
        %a= @practicearea.pa3_title
    .small-12.medium-3.columns
      = link_to contact_path, class: "btn btn-empty btn-m btn-block" do
        %span.btn-text Contact Us
        %span.btn-text.f-right{"data-icon" => "p"}
#pm.clear-nav-anchor    
.strata{style: "z-index: 800;"}
  .row
    .small-12.medium-5.columns
      %h3.c-blue= @practicearea.pa1_title
      %ul.clearing-thumbs.small-block-grid-4{"data-clearing" => "true"}
        - carousel = Carousel.where(:consulting => true)
        - if carousel.present?
          - carousel.each do |carousel|
            %li
              %a.th{href: carousel.carousel_image}
                = image_tag carousel.carousel_image.thumb
    .small-12.medium-7.columns
      %p= raw @practicearea.pa1_copy
      - if @practicearea.marketing_services_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "r"}
          = @practicearea.marketing_services_title
        .p-top-20.p-left-10= raw @practicearea.marketing_services_copy
      - if @practicearea.sales_services_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "s"}
          = @practicearea.sales_services_title
        .p-top-20.p-left-10= raw @practicearea.sales_services_copy
      - if @practicearea.channel_services_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "t"}
          = @practicearea.channel_services_title
        .p-top-20.p-left-10= raw @practicearea.channel_services_copy
      - if @practicearea.bi_services_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "u"}
          = @practicearea.bi_services_title
        .p-top-20.p-left-10= raw @practicearea.bi_services_copy
      - success = Success.where(:businessconsulting => true)
      - if success.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "n"}
          = @practicearea.pa1_title
          Media
        %ul.p-top-10
          - success.each do |success|
            %li.l-no-style.p-x-10
              = link_to success.article.url do 
                %span.m-right-5.p-icon{"data-icon" => "c"}
                = success.title
%hr{style: "z-index: 800;"}
#mc.clear-nav-anchor
.strata{style: "z-index: 800;"}
  .row
    .small-12.medium-5.columns
      %h3.c-blue= @practicearea.pa2_title
      %ul.clearing-thumbs.small-block-grid-4{"data-clearing" => "true"}
        - carousel = Carousel.where(:pm => true)
        - if carousel.present?
          - carousel.each do |carousel|
            %li
              %a.th{href: carousel.carousel_image}
                = image_tag carousel.carousel_image.thumb
    .small-12.medium-7.columns
      %p= raw @practicearea.pa2_copy
      - if @practicearea.pm_process_groups_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "v"}
          = @practicearea.pm_process_groups_title
        .p-top-20.p-left-10= raw @practicearea.pm_process_groups_copy
      - if @practicearea.pm_knowledge_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "x"}
          = @practicearea.pm_knowledge_title
        .p-top-20.p-left-10= raw @practicearea.pm_knowledge_copy
      - if @practicearea.pm_deliverables_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "w"}
          = @practicearea.pm_deliverables_title
        .p-top-20.p-left-10= raw @practicearea.pm_deliverables_copy
      - success = Success.where(:projectmanagement => true)
      - if success.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "n"}
          = @practicearea.pa2_title
          Media
        %ul.p-top-10
          - success.each do |success|
            %li.l-no-style.p-x-10
              = link_to success.article.url do 
                %span.m-right-5.p-icon{"data-icon" => "c"}
                = success.title
%hr{style: "z-index: 800;"}
#bi.clear-nav-anchor
.strata{style: "z-index: 800;"}
  .row
    .small-12.medium-5.columns
      %h3.c-blue= @practicearea.pa3_title
      %ul.clearing-thumbs.small-block-grid-4{"data-clearing" => "true"}
        - carousel = Carousel.where(:bi => true)
        - if carousel.present?
          - carousel.each do |carousel|
            %li
              %a.th{href: carousel.carousel_image}
                = image_tag carousel.carousel_image.thumb
    .small-12.medium-7.columns
      %p= raw @practicearea.pa3_copy
      - if @practicearea.bifocus_title.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "u"}
          = @practicearea.bifocus_title
        .p-top-20.p-left-10= raw @practicearea.bifocus_copy
      - success = Success.where(:businessintelligence => true)
      - if success.present?
        %h6.c-white.m-top-30.bgc-blue.p-15
          %span.m-right-10.h5-icon{"data-icon" => "n"}
          = @practicearea.pa3_title
          Media
        %ul.p-top-10
          - success.each do |success|
            %li.l-no-style.p-x-10
              = link_to success.article.url do 
                %span.m-right-5.p-icon{"data-icon" => "c"}
                = success.title
