- image = @practicearea.hero_image_url(:thumb)
.large-hero.fixed-image{style: "background-image: url(#{image});"}
  = render 'layouts/header'
  .hero
    .row
      .small-12.medium-10.medium-offset-1.columns.ta-center
        %h1.hero-font
          = @practicearea.hero_title
        %p.p-top-15.c-white.p-bottom-80
          = @practicearea.hero_copy
.strata-small.bgc-lghter-gray.b-bottom-light-gray.w-100.p-relative{"data-magellan-expedition" => "fixed"}
  .row
    .small-12.medium-9.columns
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "pm"}
        %a= @practicearea.pa1_title
      %h6.d-inline-block.p-left-5.c-lght-gray.lh-btn-m.m-bottom-0 &#124;
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "mc"}
        %a= @practicearea.pa2_title
      %h6.d-inline-block.p-left-5.c-lght-gray.lh-btn-m.m-bottom-0 &#124;
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "bi"}
        %a= @practicearea.pa3_title
    .small-12.medium-3.columns
      = link_to contact_path, class: "btn btn-empty btn-m btn-block" do
        %span.btn-text Contact Us
        %span.btn-text.f-right{"data-icon" => "c"}
#pm.clear-nav-anchor    
.strata{style: "z-index: 800;"}
  .row
    .small-12.medium-5.columns
      %h3.c-blue= @practicearea.pa1_title
    .small-12.medium-7.columns
      %p= raw @practicearea.pa1_copy
      - insights = Insight.where(:businessconsulting => true)
        - if insights.present?
          %p.c-drk-gray.m-top-30
            %em
              = @practicearea.pa1_title
              Media:
          - insights.each do |insight|
            - if insight.businessconsulting?
            = link_to insight.article.url do 
              %span.m-right-5.p-icon{"data-icon" => "a"}
              = insight.title
%hr{style: "z-index: 800;"}
#mc.clear-nav-anchor
.strata{style: "z-index: 800;"}
  .row
    .small-12.medium-5.columns
      %h3.c-blue= @practicearea.pa2_title
    .small-12.medium-7.columns
      %p= raw @practicearea.pa2_copy
      - insights = Insight.where(:projectmanagement => true)
        - if insights.present?
          %p.c-drk-gray.m-top-30
            %em
              = @practicearea.pa2_title
              Media:
          - insights.each do |insight|
            - if insight.projectmanagement?
            = link_to insight.article.url do 
              %span.m-right-5.p-icon{"data-icon" => "a"}
              = insight.title
%hr{style: "z-index: 800;"}
#bi.clear-nav-anchor
.strata{style: "z-index: 800;"}
  .row
    .small-12.medium-5.columns
      %h3.c-blue= @practicearea.pa3_title
    .small-12.medium-7.columns
      %p= raw @practicearea.pa3_copy
      - insights = Insight.where(:businessintelligence => true)
        - if insights.present?
          %p.c-drk-gray.m-top-30
            %em
              = @practicearea.pa3_title
              Media:
          - insights.each do |insight|
            - if insight.businessintelligence?
            = link_to insight.article.url do 
              %span.m-right-5.p-icon{"data-icon" => "a"}
              = insight.title
