<h1>Listing events</h1>

<table class="sortable_table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Description</th>
      <th>Date</th>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="events">
    <% @events.each do |event| %>
      <%= content_tag_for :tr, event do %>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.link %></td>
        <td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
        <td><%= link_to 'Delete', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Event', new_admin_event_path %>
