<%= form_for [:admin, @success], :html => {:multipart => true} do |f| %>
  <% if @success.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@success.errors.count, "error") %> prohibited this success from being saved:</h2>

      <ul>
      <% @success.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :blurb %><br>
    <%= f.text_area :blurb %>
  </div>
  <div class="field">
    <%= f.label :article %><br>
    <%= f.file_field :article %>
  </div>
  <div class="field">
    <%= f.label "Business Consulting" %>
    <%= f.check_box :businessconsulting %>
  </div>
  <div class="field">
    <%= f.label "Project Managment" %>
    <%= f.check_box :projectmanagement %>
  </div>
  <div class="field">
    <%= f.label "Business Intelligence" %>
    <%= f.check_box :businessintelligence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
