<h1>Listing successes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Blurb</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @successes.each do |success| %>
      <tr>
        <td><%= success.title %></td>
        <td><%= success.author %></td>
        <td><%= success.blurb %></td>
        <td><%= link_to 'Edit', edit_admin_success_path(success) %></td>
        <td><%= link_to 'Destroy', success, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Success', new_admin_success_path %>
