<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @success.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @success.author %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @success.blurb %>
</p>

<p>
  <strong>Article:</strong>
  <%= @success.article %>
</p>

<%= link_to 'Edit', edit_success_path(@success) %> |
<%= link_to 'Back', successes_path %>
