<h1>Administration</h1>

<ul>
	<li><%= link_to 'Manage Users', admin_users_path %></li>
<!-- 	<li><%= link_to 'Manage Posts', admin_posts_path %></li>
 -->	<li><%= link_to 'Manage Pages' %></li>
	<li><%= link_to 'Manage Jobs' %></li>
	<li><%= link_to 'Manage Employees' %></li>
</ul>