<h1>Administration</h1>

<ul>
	<li><%= link_to 'Manage Users', admin_users_path %></li>
	<li><%= link_to 'Manage HomePage', admin_mains_path %></li>
<!-- 	<li><%= link_to 'Manage Posts', admin_posts_path %></li>
 -->	
 	<li><%= link_to 'Manage Practice Areas Page', admin_practiceareas_path %></li>
 	<li><%= link_to 'Manage Careers Page', admin_careers_path %></li>
	<li><%= link_to 'Manage Jobs', admin_jobs_url %></li>
	<li><%= link_to 'Manage Team Page', admin_teams_path %></li>
	<li><%= link_to 'Manage Employees', admin_employees_path %></li>
	<li><%= link_to 'Manage About Us', admin_abouts_path %></li>
	<li><%= link_to 'Manage Contact Us', admin_contacts_path %></li>
</ul>