<%= form_for [:admin, @employee], :html => {:multipart => true} do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_image %><br>
    <%= f.file_field :employee_image %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :bio_intro %><br>
    <%= f.text_area :bio_intro %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br>
    <%= f.text_area :linkedin %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_area :twitter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
