<h1>Listing employees</h1>

<table class="sortable_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Linkedin</th>
      <th>Twitter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="employees">
    <% @employees.each do |employee| %>
      <%= content_tag_for :tr, employee do %>
        <td><%= employee.name %></td>
        <td><%= employee.title %></td>
        <td><%= employee.linkedin %></td>
        <td><%= employee.twitter %></td>
        <td><%= link_to 'Edit', edit_admin_employee_path(employee) %></td>
        <td><%= link_to 'Delete', admin_employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Employee', new_admin_employee_path %>
