.strata-small
  = form_for [:admin, @employee], :html => {:multipart => true} do |f|
    .row
      - if @employee.errors.any?
        .small-12.columns
          .error_explanation
            %h5
              = pluralize(@employee.errors.count, "error")
              prohibited this practicearea from being saved:
            %ul
              - @employee.errors.full_messages.each do |msg|
                %li= msg
    .strata-mini.bgc-white.w-100.p-relative{"data-magellan-expedition" => "fixed"}
      .row.p-top-20
        .small-12.medium-8.columns
          %h1.c-drk-gray{style: "vertical-align: middle;"} Create New Employee
        .small-4.medium-2.columns
          = link_to admin_employees_url, class: "btn btn-block btn-l btn-empty ta-center" do
            %span.m-right-5.hide-lap{"data-icon" => "d"}
            %span.hide-palm.hide-tablet Cancel
        .small-8.medium-2.columns
          .actions
            %button.btn.btn-block.btn-l.btn-filled.ta-center Save
      .row
        .small-12.columns
          %hr.m-bottom-0
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Employee Info
        .small-12.medium-8.columns
          .field
            = f.label :employee_image, "Employee Photo"
            .b-lighter-gray.bgc-lghter-gray.p-y-80.p-top-30.ta-center= image_tag @employee.employee_image.to_s
            .p-x-20.p-y-80.bgc-lghter-gray
              %p.ta-center#emp-image-print
              %button.file-upload.btn.btn-l.btn-empty.btn-block.ta-center
                Upload New Image
                = f.file_field :employee_image, class: "upload", "data-print" => "#emp-image-print"
          .field.m-top-40
            = f.label :name, "Name"
            = f.text_field :name
          .field.m-top-20
            = f.label :title, "Job Title"
            = f.text_field :title
          .field.m-top-20
            = f.label :bio_intro, "Bio Intro"
            = f.text_area :bio_intro, :rows => 10
          .field.m-top-20
            = f.label :bio, "Expanded Bio"
            = f.text_area :bio, :class => "tinymce", :id => "editor", :rows => 20, :cols => 80
          %h6.c-drk-gray.m-top-60{style: "text-transform: uppercase;"} Social Network Links:
          .field.m-top-20
            = f.label :linkedin, "LinkedIn"
            = f.text_field :linkedin, :placeholder => "www.linkedin/com/in/username"
          .field.m-top-20
            = f.label :twitter, "Twitter"
            = f.text_field :twitter, :placeholder => "www.twitter.com/username"

= tinymce

