<h1>Listing careers</h1>

<table>
  <thead>
    <tr>
      <th>Hero image</th>
      <th>Hero title</th>
      <th>Hero copy</th>
      <th>Intro title</th>
      <th>Intro title</th>
      <th>Cta title</th>
      <th>Cta copy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= image_tag career.hero_image.to_s %></td>
        <td><%= career.hero_title %></td>
        <td><%= career.hero_copy %></td>
        <td><%= career.intro_title %></td>
        <td><%= career.intro_title %></td>
        <td><%= career.cta_title %></td>
        <td><%= career.cta_copy %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.location %></td>
        <td><%= raw job.responsibilities %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>