- image = @career.hero_image
.large-hero.fixed-image{style: "background-image: url(#{image});"}
  = render 'layouts/header'
  .hero
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h1.ta-center.hero-font
          = @career.hero_title
        %p.ta-center.p-top-15.c-white.p-bottom-80
          = @career.hero_copy
.strata
  .row
    .small-12.columns
      %h3.c-blue= @career.intro_title
      %p.p-top-10
        = @career.intro_copy
  .row
    - jobs = Job.all
    .small-12.columns
      %table.tbl-striped
        - jobs.each do |job|
          %tr
            %td.job-title= job.title
            %td.job-detail= job.location
            %td.job-detail{style: "width: 35%;"}= raw job.description
            %td.job-link
              = link_to job_path(job) do
                Position Details
                %span
                  %small.p-left-5{"data-icon" => "p"}
.strata.p-top-0#events
  .row
    .small-12.columns
      %h3.c-blue= @career.event_header
      %p.p-top-10
        = @career.event_intro
  .row
    - events = Event.all
    .small-12.columns
      %table.tbl-striped
        -events.each do |event|
          %tr
            %td.job-title{style: "width: 35%;"}= event.location
            %td{style: "width: 35%;"}= event.description
            %td= event.date.strftime('%b, %d, %Y')
            %td{style: "text-align: right;"}
              = link_to "http://#{event.link}" do
                Event Info
                %span
                  %small.p-left-5{"data-icon" => "p"}

.strata.bgc-lghter-gray
  .row
    .small-12.medium-9.columns
      %h6.c-drk-gray= @career.cta_title
      %p.p-top-5= @career.cta_copy
    .small-12.medium-3.columns
      = link_to "mailto:recruiting@bloomconsultinggroup.com", :class => "btn btn-empty btn-m btn-block" do
        %span.btn-text Email Us
        %span.btn-text.f-right{"data-icon" => "b"}