.strata-small
  = form_for [:admin, @practicearea], :html => {:multipart => true} do |f|
    .row
      - if @practicearea.errors.any?
        .small-12.columns
          .error_explanation
            %h5
              = pluralize(@practicearea.errors.count, "error")
              prohibited this practicearea from being saved:
            %ul
              - @practicearea.errors.full_messages.each do |msg|
                %li= msg
    .strata-mini.bgc-white.w-100.p-relative{"data-magellan-expedition" => "fixed"}
      .row.p-top-20
        .small-12.medium-8.columns
          %h1.c-drk-gray{style: "vertical-align: middle;"} Edit Practice Areas Page
        .small-4.medium-2.columns
          = link_to admin_url, class: "btn btn-block btn-l btn-empty ta-center" do
            %span.m-right-5.hide-lap{"data-icon" => "d"}
            %span.hide-palm.hide-tablet Cancel
        .small-8.medium-2.columns
          .actions
            %button.btn.btn-block.btn-l.btn-filled.ta-center Save
      .row
        .small-12.columns
          %hr.m-bottom-0
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Hero Image &amp; Copy
          %p.m-top-10 Please note, the hero image quality will look very low. However, once the overlay is applied, this will look normal on the front-end.
        .small-12.medium-8.columns
          .field
            = f.label :hero_image, "Hero Image"
            .b-lighter-gray= image_tag @practicearea.hero_image.to_s
            .p-x-20.p-y-80.bgc-lghter-gray
              %p.ta-center#hero-image-print
              %button.file-upload.btn.btn-l.btn-empty.btn-block.ta-center
                Upload New Image
                = f.file_field :hero_image, class: "upload", "data-print" => "#hero-image-print"
          .field.m-top-40
            = f.label :hero_title, "Hero Title"
            = f.text_field :hero_title
          .field.m-top-20
            = f.label :hero_copy, "Hero Copy"
            = f.text_area :hero_copy, :rows => 4
    .strata-mini
      .row
        .small-12.columns
          %hr
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Practice Area One
        .small-12.medium-8.columns
          .field
            = f.label :pa1_title, "Practice Area Name"
            = f.text_field :pa1_title
          .field
            = f.label :hero_image, "Practice Area 1 Home Image"
            .b-lighter-gray= image_tag @practicearea.hero_image.to_s
            .p-x-20.p-y-80.bgc-lghter-gray
              %p.ta-center#hero-image-print
              %button.file-upload.btn.btn-l.btn-empty.btn-block.ta-center
                Upload New Image
                = f.file_field :pa1_image, class: "upload", "data-print" => "#pa1-image-print"
          .field
            = f.label :pa1_home_copy, "Practice Area 1 Home Copy"
            = f.text_field :pa1_home_copy
          .field.m-top-20
            = f.label :pa1_copy, "Blurb"
            = f.text_area :pa1_copy, :class => "tinymce", :id => "editor", :rows => 20, :cols => 80
          .field.m-top-20
            = f.label :marketing_services_title, "Marketing Services Title"
            = f.text_field :marketing_services_title
          .field.m-top-20
            = f.label :marketing_services_copy, "Marketing Services Copy"
            = f.text_area :marketing_services_copy, :class => "tinymce", :id => "marketing", :rows => 10, :cols => 80
          .field.m-top-20
            = f.label :sales_services_title, "Sales Services Title"
            = f.text_field :sales_services_title
          .field.m-top-20
            = f.label :sales_services_copy, "Sales Services Copy"
            = f.text_area :sales_services_copy, :class => "tinymce", :id => "sales", :rows => 10, :cols => 80
          .field.m-top-20
            = f.label :channel_services_title, "Channels Services Title"
            = f.text_field :channel_services_title
          .field.m-top-20
            = f.label :channel_services_copy, "Channels Services Copy"
            = f.text_area :channel_services_copy, :class => "tinymce", :id => "channel", :rows => 10, :cols => 80
          .field.m-top-20
            = f.label :bi_services_title, "Business Intelligence Services Title"
            = f.text_field :bi_services_title
          .field.m-top-20
            = f.label :bi_services_copy, "Business Intelligence Services Copy"
            = f.text_area :bi_services_copy, :class => "tinymce", :id => "bi", :rows => 10, :cols => 80
    .strata-mini
      .row
        .small-12.columns
          %hr
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Practice Area Two
        .small-12.medium-8.columns
          .field
            = f.label :pa2_title, "Practice Area Name"
            = f.text_field :pa2_title
          .field
            = f.label :hero_image, "Practice Area 2 Home Image"
            .b-lighter-gray= image_tag @practicearea.hero_image.to_s
            .p-x-20.p-y-80.bgc-lghter-gray
              %p.ta-center#hero-image-print
              %button.file-upload.btn.btn-l.btn-empty.btn-block.ta-center
                Upload New Image
                = f.file_field :pa2_image, class: "upload", "data-print" => "#pa1-image-print"
          .field
            = f.label :pa2_home_copy, "Practice Area 2 Home Copy"
            = f.text_field :pa2_home_copy
          .field.m-top-20
            = f.label :pa2_copy, "Blurb"
            = f.text_area :pa2_copy, :class => "tinymce", :id => "editor2", :rows => 20, :cols => 80
          .field.m-top-20
            = f.label :pm_process_groups_title, "PM Process Groups Title"
            = f.text_field :pm_process_groups_title
          .field.m-top-20
            = f.label :pm_process_groups_copy, "PM Process Groups Copy"
            = f.text_area :pm_process_groups_copy, :class => "tinymce", :id => "pm-process", :rows => 10, :cols => 80
          .field.m-top-20
            = f.label :pm_knowledge_title, "PM Knowledge Areas Title"
            = f.text_field :pm_knowledge_title
          .field.m-top-20
            = f.label :pm_knowledge_copy, "PM Knowledge Areas Copy"
            = f.text_area :pm_knowledge_copy, :class => "tinymce", :id => "pm-knowledge", :rows => 10, :cols => 80
          .field.m-top-20
            = f.label :pm_deliverables_title, "PM Deliverables Title"
            = f.text_field :pm_deliverables_title
          .field.m-top-20
            = f.label :pm_deliverables_copy, "PM Deliverables Copy"
            = f.text_area :pm_deliverables_copy, :class => "tinymce", :id => "pm-deliverables", :rows => 10, :cols => 80
    .strata-mini
      .row
        .small-12.columns
          %hr
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Practice Area Three
        .small-12.medium-8.columns
          .field
            = f.label :pa3_title, "Practice Area Name"
            = f.text_field :pa3_title
          .field
            = f.label :hero_image, "Practice Area 3 Home Image"
            .b-lighter-gray= image_tag @practicearea.hero_image.to_s
            .p-x-20.p-y-80.bgc-lghter-gray
              %p.ta-center#hero-image-print
              %button.file-upload.btn.btn-l.btn-empty.btn-block.ta-center
                Upload New Image
                = f.file_field :pa3_image, class: "upload", "data-print" => "#pa1-image-print"
          .field
            = f.label :pa3_home_copy, "Practice Area 3 Home Copy"
            = f.text_field :pa3_home_copy
          .field.m-top-20
            = f.label :pa3_copy, "Blurb"
            = f.text_area :pa3_copy, :class => "tinymce", :id => "editor3", :rows => 30, :cols => 80
          .field.m-top-20
            = f.label :bifocus_title, "BI Focus Title"
            = f.text_field :bifocus_title
          .field.m-top-20
            = f.label :bifocus_copy, "BI Focus Copy"
            = f.text_area :bifocus_copy, :class => "tinymce", :id => "bifocus", :rows => 10, :cols => 80
    .strata-mini
      .row
        .small-12.columns
          %hr
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Practice Area Three
        .small-12.medium-8.columns
          .field
            = f.label :pa4_title, "Practice Area Name"
            = f.text_field :pa4_title
          .field
            = f.label :hero_image, "Practice Area 4 Home Image"
            .b-lighter-gray= image_tag @practicearea.hero_image.to_s
            .p-x-20.p-y-80.bgc-lghter-gray
              %p.ta-center#hero-image-print
              %button.file-upload.btn.btn-l.btn-empty.btn-block.ta-center
                Upload New Image
                = f.file_field :pa4_image, class: "upload", "data-print" => "#pa1-image-print"
          .field
            = f.label :pa4_home_copy, "Practice Area 4 Home Copy"
            = f.text_field :pa4_home_copy
          .field.m-top-20
            = f.label :pa4_copy, "Blurb"
            = f.text_area :pa4_copy, :class => "tinymce", :id => "editor3", :rows => 30, :cols => 80

= tinymce


