<p id="notice"><%= notice %></p>

<p>
  <strong>Hero image:</strong>
  <%= @practicearea.hero_image %>
</p>

<p>
  <strong>Hero title:</strong>
  <%= @practicearea.hero_title %>
</p>

<p>
  <strong>Hero copy:</strong>
  <%= @practicearea.hero_copy %>
</p>

<p>
  <strong>Pa1 title:</strong>
  <%= @practicearea.pa1_title %>
</p>

<p>
  <strong>Pa1 copy:</strong>
  <%= @practicearea.pa1_copy %>
</p>

<p>
  <strong>Pa2 title:</strong>
  <%= @practicearea.pa2_title %>
</p>

<p>
  <strong>Pa2 copy:</strong>
  <%= @practicearea.pa2_copy %>
</p>

<p>
  <strong>Pa3 title:</strong>
  <%= @practicearea.pa3_title %>
</p>

<p>
  <strong>Pa3 copy:</strong>
  <%= @practicearea.pa3_copy %>
</p>

<%= link_to 'Edit', edit_practicearea_path(@practicearea) %> |
<%= link_to 'Back', practiceareas_path %>
