= if @announcements.last.announcement_2_title.present?
  .strata.bgc-orange
    .row
      .small-12.medium-3.columns
        %div.ta-center
          = image_tag @announcements.last.announcement_2_image.to_s
      .small-12.medium-9.columns
        %h4.c-white= @announcements.last.announcement_2_title
        %p.c-white.p-top-10= @announcements.last.announcement_2_copy
        %h5
          = link_to @announcements.last.announcement_2_link, :class => "link-white" do
            = @announcements.last.announcement_2_cta
            %span.h5-icon{ "data-icon" => "p"}