- image = @main.hero_image_url
.strata-mini.large-hero.fixed-image{style: "background-image: url(#{image});"}
  = render 'layouts/header'

.strata-small
  .row.p-top-30
    .small-12.columns
      %h1.c-blue Contact Us
  .row.p-top-20
    .small-12.medium-6.columns
      %iframe.b-gray{src: "http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=47.672935~-122.123372&lvl=16&w=500&h=400&sty=r&typ=d&pp=~~47.672285~-122.123587&ps=&dir=0&mkt=en-us&src=SHELL&form=BMEMJS", width: "100%", height: "300", frameborder: "0"}
    .small-12.medium-6.columns
      .row.bgc-lghter-gray.p-20
        .small-1.columns
          %p.ta-center{"data-icon" => "e"}
        .small-11.columns
          %p= @contact.address
          %a{style: "margin-top: 10px;", href: "http://www.bing.com/maps/?cp=47.672935~-122.123372&sty=r&lvl=16&rtp=~pos.47.672935_-122.123372____&mm_embed=dir", target: "_blank"} Get Directions
      .row.p-20
        .small-1.columns
          %p.ta-center{"data-icon" => "a"}
        .small-11.columns
          %p= @contact.phone
      .row.bgc-lghter-gray.p-20
        .small-1.columns
          %p.ta-center{"data-icon" => "b"}
        .small-11.columns
          %a{href: "mailto:" + @contact.email}= @contact.email
      .row.p-20
        .small-1.columns
          %p.ta-center{"data-icon" => "c"}
        .small-11.columns
          %a{ :href => "https://s3-us-west-2.amazonaws.com/bcg-site-assets/Bloom_E_Brochure.pdf", :target => "_blank" }
            Download a Bloom Consulting Group Brochure
