.strata-small
  = form_for [:admin, @post] do |f|
    .row
      - if @post.errors.any?
        .small-12.columns
          .error_explanation
            %h5
              = pluralize(@post.errors.count, "error")
              prohibited this practicearea from being saved:
            %ul
              - @post.errors.full_messages.each do |msg|
                %li= msg
    .strata-mini.bgc-white.w-100.p-relative{"data-magellan-expedition" => "fixed"}
      .row.p-top-20
        .small-12.medium-8.columns
          %h1.c-drk-gray{style: "vertical-align: middle;"} Edit Blog Post
        .small-4.medium-2.columns
          = link_to admin_posts_path, class: "btn btn-block btn-l btn-empty ta-center" do
            %span.m-right-5.hide-lap{"data-icon" => "d"}
            %span.hide-palm.hide-tablet Cancel
        .small-8.medium-2.columns
          .actions
            %button.btn.btn-block.btn-l.btn-filled.ta-center Save
      .row
        .small-12.columns
          %hr.m-bottom-0
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Blog Post Info
        .small-12.medium-8.columns
          .field
            = f.label :date, "Date"
            = f.text_field :date, :value => (f.object.date.strftime('%B %d, %Y') if f.object.date), class: "datepicker"
          .field
            = f.label :title, "Title"
            = f.text_field :title
          .field
            = f.label :author, "Author"
            = f.text_field :author
          .field
            = f.label :body, "Post"
            = f.text_field :body, :class => "tinymce", :id => "post", :rows => 150, :cols => 80

= tinymce

