.strata-small
  .row
    .small-12.columns
      = link_to admin_url, class: "lh-h1" do 
        %span.m-right-5{"data-icon" => "d"}
        Return to Dashboard
  .row
    .small-12.medium-8.columns
      %h1.c-drk-gray Blog Posts
    .small-12.medium-4.columns
      = link_to new_admin_post_path, class: "btn btn-m btn-filled btn-block" do
        Add Blog Post
        %span.f-right{"data-icon" => "N"}
  .row.m-top-20
    .small-12.columns
      %table.tbl-striped
        - @posts.each do |post|
          %tr
            %td{style: "width: 15%;"}
              - if post.date.present?
                = post.date.strftime("%B %d, %Y")
            %td.c-drk-gray{style: "width: 35%;"}= post.title
            %td= post.author
            %td.ta-right
              = link_to edit_admin_post_path(post), class: "m-right-50" do
                %span.m-right-5.btn-text{"data-icon" => "D"}
                Edit
              = link_to admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } do
                %span.delete-icon.p-left-10{"data-icon" => "M"}
