<%= form_for [:admin, @carousel], :html => {:multipart => true} do |f| %>
  <% if @carousel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carousel.errors.count, "error") %> prohibited this carousel from being saved:</h2>

      <ul>
      <% @carousel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :carousel_image %><br>
    <%= f.file_field :carousel_image %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :culture %><br>
    <%= f.check_box :culture %>
  </div>
  <div class="field">
    <%= f.label :overview %><br>
    <%= f.check_box :overview %>
  </div>
  <div class="field">
    <%= f.label :consulting %><br>
    <%= f.check_box :consulting %>
  </div>
  <div class="field">
    <%= f.label :pm %><br>
    <%= f.check_box :pm %>
  </div>
  <div>
    <%= f.label :bi %><br>
    <%= f.check_box :bi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>