<p id="notice"><%= notice %></p>

<p>
  <strong>Hero image:</strong>
  <%= @career.hero_image %>
</p>

<p>
  <strong>Hero title:</strong>
  <%= @career.hero_title %>
</p>

<p>
  <strong>Hero copy:</strong>
  <%= @career.hero_copy %>
</p>

<p>
  <strong>Intro title:</strong>
  <%= @career.intro_title %>
</p>

<p>
  <strong>Intro title:</strong>
  <%= @career.intro_title %>
</p>

<p>
  <strong>Cta title:</strong>
  <%= @career.cta_title %>
</p>

<p>
  <strong>Cta copy:</strong>
  <%= @career.cta_copy %>
</p>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
