- image = @about.hero_image_url(:thumb)
.large-hero.fixed-image#top{style: "background-image: url(#{image});"}
  = render 'layouts/header'
  .hero
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h1.ta-center.hero-font
          = @about.hero_title
        %p.ta-center.p-top-15.c-white.p-bottom-80
          = @about.hero_copy
= link_to "#top" do
  .back-to-top
    %h6.c-white.m-right-20 
      %span.m-right-5.h5-icon{"data-icon" => "i"}
      Back To Top
.strata-small.bgc-lghter-gray.b-bottom-light-gray.w-100.p-relative{"data-magellan-expedition" => "fixed"}
  .row
    .small-12.medium-9.columns
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "co"}
        %a= @about.area1_title
      %h6.d-inline-block.p-left-5.c-lght-gray.lh-btn-m.m-bottom-0 &#124;
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "cc"}
        %a= @about.area2_title
      %h6.d-inline-block.p-left-5.c-lght-gray.lh-btn-m.m-bottom-0 &#124;
      %h6.target-jump.d-inline-block.p-left-5.m-bottom-0.lh-btn-m{"data-target" => "quotes"}
        %a= @about.area3_title
    .small-12.medium-3.columns
      = link_to contact_path, class: "btn btn-empty btn-m btn-block" do
        %span.btn-text Contact Us
        %span.btn-text.f-right{"data-icon" => "p"}
#co.clear-nav-anchor    
.strata
  .row
    .small-12.medium-5.columns
      %h3.c-blue.m-bottom-10= @about.area1_title
      %ul.clearing-thumbs.small-block-grid-4{"data-clearing" => "true"}
        %li
          %a.th{href: "/assets/team/braden-unger.jpg"}
            %img{src: "/assets/team/braden-unger.jpg"}
        %li
          %a.th{href: "/assets/team/amber-cooley.jpg"}
            %img{src: "/assets/team/amber-cooley.jpg"}
    .small-12.medium-7.columns
      %p= raw @about.area1_copy
%hr
#cc.clear-nav-anchor    
.strata
  .row
    .small-12.medium-5.columns
      %h3.c-blue= @about.area2_title
    .small-12.medium-7.columns
      %p= raw @about.area2_copy
- if @about.area3_title.present?
  %hr
  #quotes
  .strata
    .row
      .small-12.medium-5.columns
        %h3.c-blue= @about.area3_title
      .small-12.medium-7.columns
        - quotes = Quote.all
          - quotes.each do |quote|
          %h6.c-drk-gray= quote.title
          .m-top-10= raw quote.quote
          %p.p-bottom-25.p-top-10.f-italics
            %span -
            = quote.credit