.strata-small
  = form_for [:admin, @about], :html => {:multipart => true} do |f|
    .row
      - if @about.errors.any?
        .small-12.columns
          .error_explanation
            %h5
              = pluralize(@about.errors.count, "error")
              prohibited this practicearea from being saved:
            %ul
              - @about.errors.full_messages.each do |msg|
                %li= msg
    .strata-mini.bgc-white.w-100.p-relative{"data-magellan-expedition" => "fixed"}
      .row.p-top-20
        .small-12.medium-8.columns
          %h1.c-drk-gray{style: "vertical-align: middle;"} Edit About Us Page
        .small-4.medium-2.columns
          = link_to admin_url, class: "btn btn-block btn-l btn-empty ta-center" do
            %span.m-right-5.hide-lap{"data-icon" => "d"}
            %span.hide-palm.hide-tablet Cancel
        .small-8.medium-2.columns
          .actions
            %button.btn.btn-block.btn-l.btn-filled.ta-center Save
      .row
        .small-12.columns
          %hr.m-bottom-0
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Hero Image &amp; Copy
          %p.m-top-10 Please note, the hero image quality will look very low. However, once the overlay is applied, this will look normal on the front-end.
        .small-12.medium-8.columns
          .field
            = f.label :hero_image, "Hero Image"
            .b-lighter-gray= image_tag @about.hero_image.to_s
            .p-x-20.p-y-80.bgc-lghter-gray
              %p.ta-center#hero-image-print
              %button.file-upload.btn.btn-l.btn-empty.btn-block.ta-center
                Upload New Image
                = f.file_field :hero_image, class: "upload", "data-print" => "#hero-image-print"
          .field.m-top-40
            = f.label :hero_title, "Hero Title"
            = f.text_field :hero_title
          .field.m-top-20
            = f.label :hero_copy, "Hero Copy"
            = f.text_area :hero_copy, :rows => 4
    .strata-mini
      .row
        .small-12.columns
          %hr
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Company Overview
        .small-12.medium-8.columns
          .field
            = f.label :area1_title, "Overview Title"
            = f.text_field :area1_title
          .field.m-top-20
            = f.label :area1_copy, "Overview Copy"
            = f.text_area :area1_copy, :class => "tinymce", :id => "editor", :rows => 20, :cols => 80
    .strata-mini
      .row
        .small-12.columns
          %hr
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Culture
        .small-12.medium-8.columns
          .field
            = f.label :area2_title, "Culture Title"
            = f.text_field :area2_title
          .field.m-top-20
            = f.label :area2_copy, "Culture Copy"
            = f.text_area :area2_copy, :class => "tinymce", :id => "editor2", :rows => 20, :cols => 80
    .strata-mini
      .row
        .small-12.columns
          %hr
    .strata
      .row
        .small-12.medium-4.columns
          %h4.c-drk-gray Quotes
        .small-12.medium-8.columns
          .field
            = f.label :area3_title, "Quotes Title"
            = f.text_field :area3_title

= tinymce

