<h1>Listing about</h1>

<table>
  <thead>
    <tr>
      <th>Hero image</th>
      <th>Hero title</th>
      <th>Hero copy</th>
      <th>Area1 title</th>
      <th>Area1 copy</th>
      <th>Area2 title</th>
      <th>Area2 copy</th>
      <th>Area3 title</th>
      <th>Area3 copy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @abouts.each do |about| %>
      <tr>
        <td><%= image_tag about.hero_image.to_s %></td>
        <td><%= about.hero_title %></td>
        <td><%= about.hero_copy %></td>
        <td><%= about.area1_title %></td>
        <td><%= about.area1_copy %></td>
        <td><%= about.area2_title %></td>
        <td><%= about.area2_copy %></td>
        <td><%= about.area3_title %></td>
        <td><%= about.area3_copy %></td>
        <td><%= link_to 'Edit', edit_admin_about_path(about) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
