<p id="notice"><%= notice %></p>

<p>
  <strong>Hero image:</strong>
  <%= @main.hero_image %>
</p>

<p>
  <strong>Hero title:</strong>
  <%= @main.hero_title %>
</p>

<p>
  <strong>Stratum 1 image:</strong>
  <%= @main.stratum_1_image %>
</p>

<p>
  <strong>Stratum 1 title:</strong>
  <%= @main.stratum_1_title %>
</p>

<p>
  <strong>Stratum 1 copy:</strong>
  <%= @main.stratum_1_copy %>
</p>

<p>
  <strong>Stratum 1 cta:</strong>
  <%= @main.stratum_1_cta %>
</p>

<p>
  <strong>Stratum 1 link:</strong>
  <%= @main.stratum_1_link %>
</p>

<p>
  <strong>Practice area 1 image:</strong>
  <%= @main.practice_area_1_image %>
</p>

<p>
  <strong>Practice area 1 title:</strong>
  <%= @main.practice_area_1_title %>
</p>

<p>
  <strong>Practice area 1 copy:</strong>
  <%= @main.practice_area_1_copy %>
</p>

<p>
  <strong>Practice area 1 link:</strong>
  <%= @main.practice_area_1_link %>
</p>

<p>
  <strong>Practice area 2 image:</strong>
  <%= @main.practice_area_2_image %>
</p>

<p>
  <strong>Practice area 2 title:</strong>
  <%= @main.practice_area_2_title %>
</p>

<p>
  <strong>Practice area 2 copy:</strong>
  <%= @main.practice_area_2_copy %>
</p>

<p>
  <strong>Practice area 2 link:</strong>
  <%= @main.practice_area_2_link %>
</p>

<p>
  <strong>Practice area 3 image:</strong>
  <%= @main.practice_area_3_image %>
</p>

<p>
  <strong>Practice area 3 title:</strong>
  <%= @main.practice_area_3_title %>
</p>

<p>
  <strong>Practice area 3 copy:</strong>
  <%= @main.practice_area_3_copy %>
</p>

<p>
  <strong>Practice area 3 link:</strong>
  <%= @main.practice_area_3_link %>
</p>

<p>
  <strong>Stratum 2 image:</strong>
  <%= @main.stratum_2_image %>
</p>

<p>
  <strong>Stratum 2 title:</strong>
  <%= @main.stratum_2_title %>
</p>

<p>
  <strong>Stratum 2 copy:</strong>
  <%= @main.stratum_2_copy %>
</p>

<p>
  <strong>Stratum 2 cta:</strong>
  <%= @main.stratum_2_cta %>
</p>

<p>
  <strong>Stratum 2 link:</strong>
  <%= @main.stratum_2_link %>
</p>

