- image = @main.hero_image_url
.large-hero.fixed-image{style: "background-image: url(#{image});"}
  = render 'layouts/header'
  .hero
    .row
      .small-8.small-offset-2.columns
        %h1.hero-font= @main.hero_title
        %h2.intro-arrow-box
          %a.intro-arrow.page-jump{"data-icon" => "b"}

= render 'top_announcement'
= render 'practice_areas'
= render 'meet_the_team'
= render 'hiring_announcement'
= render 'quotes'

