<h1>Edit post</h1>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 12, :cols => 35 %>
  </div>
  <div class="actions"><%= f.submit %></div>
  <div class="actions"><%= link_to "delete", @post, method: :delete,
                  data: { confirm: "You sure?" },
                  title: @post.body %>
  </div>
<% end %>

