.strata.bgc-lghter-gray
  .row
    .small-12.medium-10.medium-offset-1.columns.ta-center
      %h1.c-blue= @post.title
      %p
        %small
          %span= @post.created_at.strftime("%B %d, %Y")
          &nbsp;|&nbsp;  by
          %span.c-drk-gray= @post.author
.strata
  .row
    .small-12.medium-10.medium-offset-1.columns
      %p= raw @post.body
.strata-small
  .row.m-bottom-50
    .small-12.medium-10.medium-offset-1.columns
      .row{"data-equalizer" => "true"}
        .small-6.columns
          - unless @next.blank?
            = link_to post_path(@next) do
              .w-100.bgc-lghter-gray.p-20{"data-equalizer-watch" => "true"}
                %p
                  %small{style: "text-transform: uppercase;"} 
                    %span.btn-text.m-right-5.d-inline-block{"data-icon" => "R"}
                    Newer Post
                .c-orange= @next.title
        .small-6.columns
          - unless @prev.blank?
            = link_to post_path(@prev) do
              .w-100.bgc-lghter-gray.p-20.ta-right{"data-equalizer-watch" => "true"}
                %p
                  %small{style: "text-transform: uppercase;"} 
                    Older Post
                    %span.m-left-5.btn-text.d-inline-block{"data-icon" => "p"}
                = link_to @prev.title, post_path(@prev), class: "d-inline-block"
