<%= form_for [:admin, @main], :html => {:multipart => true} do |f| %>
  <% if @main.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@main.errors.count, "error") %> prohibited this main from being saved:</h2>

      <ul>
      <% @main.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hero_image %><br>
    <%= f.file_field :hero_image %>
  </div>
  <div class="field">
    <%= f.label :hero_title %><br>
    <%= f.text_field :hero_title %>
  </div>
  <div class="field">
    <%= f.label :stratum_1_image %><br>
    <%= f.text_field :stratum_1_image %>
  </div>
  <div class="field">
    <%= f.label :stratum_1_title %><br>
    <%= f.text_field :stratum_1_title %>
  </div>
  <div class="field">
    <%= f.label :stratum_1_copy %><br>
    <%= f.text_area :stratum_1_copy %>
  </div>
  <div class="field">
    <%= f.label :stratum_1_cta %><br>
    <%= f.text_field :stratum_1_cta %>
  </div>
  <div class="field">
    <%= f.label :stratum_1_link %><br>
    <%= f.text_field :stratum_1_link %>
  </div>
  <div class="field">
    <%= f.label :practice_area_1_image %><br>
    <%= f.text_field :practice_area_1_image %>
  </div>
  <div class="field">
    <%= f.label :practice_area_1_title %><br>
    <%= f.text_field :practice_area_1_title %>
  </div>
  <div class="field">
    <%= f.label :practice_area_1_copy %><br>
    <%= f.text_area :practice_area_1_copy %>
  </div>
  <div class="field">
    <%= f.label :practice_area_1_link %><br>
    <%= f.text_field :practice_area_1_link %>
  </div>
  <div class="field">
    <%= f.label :practice_area_2_image %><br>
    <%= f.text_field :practice_area_2_image %>
  </div>
  <div class="field">
    <%= f.label :practice_area_2_title %><br>
    <%= f.text_field :practice_area_2_title %>
  </div>
  <div class="field">
    <%= f.label :practice_area_2_copy %><br>
    <%= f.text_area :practice_area_2_copy %>
  </div>
  <div class="field">
    <%= f.label :practice_area_2_link %><br>
    <%= f.text_field :practice_area_2_link %>
  </div>
  <div class="field">
    <%= f.label :practice_area_3_image %><br>
    <%= f.text_field :practice_area_3_image %>
  </div>
  <div class="field">
    <%= f.label :practice_area_3_title %><br>
    <%= f.text_field :practice_area_3_title %>
  </div>
  <div class="field">
    <%= f.label :practice_area_3_copy %><br>
    <%= f.text_area :practice_area_3_copy %>
  </div>
  <div class="field">
    <%= f.label :practice_area_3_link %><br>
    <%= f.text_field :practice_area_3_link %>
  </div>
  <div class="field">
    <%= f.label :stratum_2_image %><br>
    <%= f.text_field :stratum_2_image %>
  </div>
  <div class="field">
    <%= f.label :stratum_2_title %><br>
    <%= f.text_field :stratum_2_title %>
  </div>
  <div class="field">
    <%= f.label :stratum_2_copy %><br>
    <%= f.text_area :stratum_2_copy %>
  </div>
  <div class="field">
    <%= f.label :stratum_2_cta %><br>
    <%= f.text_field :stratum_2_cta %>
  </div>
  <div class="field">
    <%= f.label :stratum_2_link %><br>
    <%= f.text_field :stratum_2_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
