<h1>Listing quotes</h1>

<table class="sortable_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Credit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="quotes">
    <% @quotes.each do |quote| %>
      <%= content_tag_for :tr, quote do %>
        <td><%= quote.title %></td>
        <td><%= quote.credit %></td>
        <td><%= link_to 'Edit', edit_admin_quote_path(quote) %></td>
        <td><%= link_to 'Delete', admin_quote_path(quote), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Quote', new_admin_quote_path %>
