.nav-blog
  .row.nav-inner
    .small-8.columns
      = link_to root_path do
        %img.d-inline-block.bloom-square{src: "https://s3-us-west-2.amazonaws.com/bcg-site-assets/bloom-logo-flower.svg", style: "height: 60px;"}
        %img.d-inline-block.bloom-text{src: "https://s3-us-west-2.amazonaws.com/bcg-site-assets/bloom-logo-text.svg", style: "height: 60px; width: 0px;"}
      %h5.d-inline-block{style: "line-height: 60px;"}
        %span.m-left-5.c-lght-gray /
      %h5.d-inline-block{style: "line-height: 60px;"}
        = link_to "News", posts_url
    .small-4.columns
      - contact = Contact.all
      %ul.f-right.l-no-style
        - if contact.last.facebook.present?
          %li.footer-item
            %p
              %small FOLLOW US:
        - if contact.last.linkedin.present?
          %li.footer-item
            %h4
              = link_to contact.last.linkedin, class: "footer-link", :target => "_blank" do
                %span{"data-icon" => "k", style: "position: relative; top: 6px;"}
        - if contact.last.twitter.present?
          %li.footer-item
            %h4
              = link_to contact.last.twitter, class: "footer-link", :target => "_blank" do
                %span{"data-icon" => "l", style: "position: relative; top: 6px;"}
        - if contact.last.facebook.present?
          %li.footer-item
            %h4
              = link_to contact.last.facebook, class: "footer-link", :target => "_blank" do
                %span{"data-icon" => "j", style: "position: relative; top: 6px;"}