%footer.footer
	.row
		.small-12.medium-8.columns
			%ul.l-no-style
				%li.footer-item
					= active_link_to "Meet the Team", team_path, class: "footer-link main-footer", :class_active => "current"
				%li.footer-item
					= active_link_to "Success Stories", successes_path, class: "footer-link main-footer", :class_active => "current"
				%li.footer-item
					= active_link_to "Contact", contact_path, class: "footer-link main-footer", :class_active => "current"
		.small-12.medium-4.columns
			- contact = Contact.all
			%ul.f-right.l-no-style
				- if contact.last.linkedin.present?
					%li.footer-item
						%h4
							= link_to contact.last.linkedin, class: "footer-link", :target => "_blank" do
								%span{"data-icon" => "i"}
				- if contact.last.twitter.present?
					%li.footer-item
						%h4
							= link_to contact.last.twitter, class: "footer-link", :target => "_blank" do
								%span{"data-icon" => "h"}
				- if contact.last.facebook.present?
					%li.footer-item
						%h4
							= link_to contact.last.facebook, class: "footer-link", :target => "_blank" do
								%span{"data-icon" => "j"}